@page
@model Xperience.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    Old Password : <input type="password" asp-for="input.oldPassword"/> 
    New Password : <input type="password" asp-for="input.newPassword"/> 
    Confirm Password : <input type="password" asp-for="input.confirmPassword"/> 

    <button type="submit">Change</button>
</form>

