@page
@model feedsModel
@inject SignInManager<BaseUser> signinManager
@inject UserManager<BaseUser> userManager
@inject Xperience.Data.ApplicationDbContext context


@{ 
    var currentUser = await userManager.GetUserAsync(HttpContext.User);
    var user = currentUser != null ? context.Users.OfType<ApplicationUser>().FirstOrDefault(x => x.Id == currentUser.Id) : null;

    
}  


    <div class="posts">

    </div>



    <script type="text/javascript" src="~/js/feeds.js"></script>



