@page
@model Xperience.Pages.PassChangeSuccessModel
@{
    ViewData["Title"] = "PassChangeSuccess";
}

<h1>Password Changed Successfuly</h1>

<form action="~/Account/EditUser">
    <button type="submit">Back To Profile</button>
</form>

